*{
    font-family: "Gotham", "Helvetica",sans-serif;
    color: #00355A;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
}
.header_container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
      
}
.header_container img{
    margin-left: 25px;
}
.header_contentList{
    display: flex; 
    margin-top: 25px;
    margin-right: 24px;
}

.header_listItem{
    margin-right: .8em;
    list-style: none;
}
a{
    text-decoration: none;
}
.hero.overlay{
    position: absolute;
    top:50%;
    left:50%;
}
h1{
    font-size:xx-large;
    margin-left: 25px;
}
h2{
    font-size:large;
    
    margin: 20px 25px 20px 20px;
}
h3{
    margin-left: 25px;
    margin-right: 25px;
}
h4{
    margin: 20px 25px 20px 25px;
    color: #000000b4;
}
/* .overlay_spot{
    position:absolute;
    top: 170%;
    left:10%;
    
} */
p{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
}
body{
    background-color: white;
    font-size:25px;
}
.Spot_specs{
    height: auto
}    
.Resources{
    display: flex;
    background-image:url(img/Backgrounds2/Spot\ autonomous.png);
}
.Our_resources{
   text-align: center;
}
.column1{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}
.column2{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}
.resource_grid{
    display: flex;
    flex-direction: column;
    background-color: #bbb7b7af;
    max-width: 600px;
    max-height: 600px;
    margin:25px;
}
.kidd_creek{
    display: flex;
    flex-direction: column;
    background-color: #bbb7b7af;
    max-width: 600px;
    max-height: 600px;
    margin: 25px;
}
.Developer_spotlight{
    flex-direction: column;
    background-color:#bbb7b7af;
    max-width: 600px;
    max-height: 600px;
    margin: 25px;
}
.Spot_intro{
    display: flex;
    flex-direction: column;
    background-color:#bbb7b7af;
    max-width: 600px;
    max-height: 600px;
    margin: 25px;  
}
footer{
    background-color:#00355A;
    color:#000000b4;
}
.footer_contentList{
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    margin-top: 25px;
    margin-right: 24px;
}
.footer_listitem{
    margin-right: .8em;
}
.footer{
    display: flex;
    justify-content: space-between;  
}
#background-video{
    height: auto;
    min-width: 100%;
    position: relative;
}